#exportPattern("^[[:alpha:]]+")
export(AddRule, DeleteRule, DisplayTree, as.ID, GetDescription,  GetPegE, new.parser, Parse,  plot.PEGResult,  print.pegE,  print.PEGResult, RuleIds, SetAction, SetDescription, Value)
#,         as.ID,           DeleteRule,             DisplayTree,           GetDescription,  GetPegE,         new.generator,  
#        Parse,           plot.PEGResult,  print.pegE,      print.PEGResult, RuleIds,         SetAction,       SetDescription,  Value)

S3method(plot, PEGResult)
S3method(print, pegE) #do we really want to support this? (or should this be elevated to genE?)
S3method(print, PEGResult)
S3method(summary, PEGResult)