S3method(plot,PEGResult)
S3method(print,PEGResult)
S3method(print,pegE)
S3method(summary,PEGResult)
export(add_rule)
export(apply_rule)
export(consumed)
export(delete_rule)
export(get_description)
export(get_pegE)
export(new.parser)
export(qp)
export(rule_ids)
export(set_action)
export(set_description)
export(status)
export(tree)
export(value)
import(memoise)
