S3method("[",genE)
S3method(plot,PEGResult)
S3method(print,AttachedRule)
S3method(print,PEGResult)
S3method(print,genE)
S3method(print,ruleStruct)
S3method(summary,PEGResult)
export(add_rule)
export(apply_rule)
export(consumed)
export(delete_rule)
export(get_action)
export(get_description)
export(inspect_rule)
export(new.parser)
export(paste1)
export(qp)
export(rule_ids)
export(set_action)
export(set_description)
export(set_rule)
export(status)
export(tree)
export(value)
import(memoise)
